body{
	background: aqua ;
}
h1{
    color:purple;
    position: relative;
    left: 500px;
}

form{
	position :relative;
    left :500px;
    height: auto;
}
h1 {
    position:relative;
    left:500px;

}
img {
    position :relative;
    left: 300px;
    width : 400px;
    height: auto;
	
}
