body{
	background: aqua ;
}
h1{
	color:purple;
}
h3{
    color:black;
}
form{
	position :relative;
	top :450px;
	left :700px;
}
h1 {
	position:relative;

}
img {
	position :relative;
	
}
div.section{
	height:520px;
	width :200px;
	border :3px solid black;
	margin : 13px;
	float:left;
	
}